.dark-theme{
    background:#121212 !important;
    color:white !important;
}

.dark-theme .card{
    background:#1e1e1e;
    color:white;
}

.dark-theme .table{
    color:white;
}

.dark-theme .navbar{
    background:#000 !important;
}

.dark-theme input,
.dark-theme select{
    background:#2d2d2d;
    color:white;
    border:none;
}

.dark-theme input::placeholder{
    color:#bbb;
}